<h1>About PetPro</h1>
<br><br>
<table width="800" border="0">
    <tr>
        <td valign="bottom"><p align="left"><img height="160" src="/assets/about-dog.jpg" /></p></td>
        <td width="550">
        <h3>Organize daily schedule and appointments</h3> 
        <p align="left">
            Pet Tracker makes it easy to customize your pet's daily schedule. The drag-and-drop timeline lets you easily organize your pet's daily activities. Upcomming appointments and play-dates can be added to the calendar, so you'll never miss an appointment.
        </p></td>
    </tr>
</table>
<table width="800" border="0">
    <tr>
        <td width="550">
        <h3>Share with sitters</h3> 
        <p align="left">
            You can share your pet's information, daily schedule, and upcoming appointments calendar with your pet sitter by simply adding their email address to your pet's page. This way your pet sitter will be able to track your pet's daily routine and keep up-to-date on upcomming appointments.
        </p></td>
        <td valign="bottom"><img align="right" height="180" src="/assets/about-kitten.jpg" /></td>
    </tr>
</table>
<table width="800" border="0">
    <tr>
        <td valign="bottom"><p align="left"><img height="190" src="/assets/about-bunny.jpg" /></p></td>
        <td width="550">
        <h3>Get realtime updates from your sitter</h3> 
        <p align="left">
            Pet Tracker allows you to view realtime photo updates posted by your pet sitter, so you can always be certain your pet is happy and healthy while you're away.
        </p></td>
    </tr>
</table>
