<h1 class="page-header">My Pets</h1>

<div class="row">
  <div class="col-md-9">
    <div id="mypets-container">
      <% current_user.pets.each do |pet| %>
        <%= link_to(pet) do %>
          <div class="my-pet-entry">
            <img class="pull-left my-pet-pic img-circle" src="img/maximus.jpg" />
              <h2>
                <%= pet.name %><br />
                <small><%= pet.pet_type %> - 
                  <% if pet.sitter_id.nil? %>
                    No Sitter
                  <% else %>

                  <% end %>
                </small>
              </h2>
          </div>
        <% end%>
      <% end %>
    </div>
  </div>
</div>