<h1 class="page-header">
  <%= @pet.name %>
</h1>

<div class="row">
  <div class="col-md-9">

    <div class="pull-left">
      <img class="pet-pic" src="img/maximus.jpg" />
    </div>
    <h1><small>Located in <%= @pet.user.location %></small></h1>
    <p class="pet-description-text"><%= @pet.description %></p>
    
  </div>


  <div class="col-md-3 calendar cal-hover">
    <h3>Appointments</h3>
    <div id="calendar"></div>
  </div>

</div>