<h1 class="page-header">Pets I'm Sitting</h1>

<div class="row">
  <div class="col-md-9">
    <div id="mypets-container">
      <% @pets.each do |pet| %>
        <%= link_to(pet) do %>
          <div class="my-pet-entry">
            <img class="pull-left my-pet-pic img-circle" src="img/maximus.jpg" />
              <h2>
                <%= pet.name %> <small>(<%= pet.owner.name %>)</small><br />
                <small>
                  <%= pet.pet_type %>
                </small>
              </h2>
          </div>
        <% end%>
      <% end %>
      <% if @pets.empty? %>
        <p>You are not sitting any pets.</p>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".sitting-pets").addClass("active");
</script>