#signin {
    position: relative;
    top: 25px;
    font-size: 150%;
    color: white;
}

#signup {
    position: relative;
    font-size: 150%;
    color: white;
    top: 25px;
}

.signinbox {
    float:right;
    width:50%;
    padding:10px;
}
.signupbox {
    float:left;
    width:50%;
    padding:10px;
    border-right:1px solid #ccc;
}
.signupbox input,
.signinbox input {
    margin-bottom:5px;
}

.signupbox h3,
.signinbox h3 {
    margin-top: 0px;
}

.homespan {
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 80px;
    background-color: #D86759;
}

.homelogo {
    width:500px;
    margin-bottom:50px;
}

.homehero {
    width: 50%;
    height: 550px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    text-align: center;
}

.box {
    height:450px;
    background-color: rgba(255,255,255,0.9);
    padding:20px;
    color:#5f9eca;
    text-align: center;
}